---
source: sipou
url: https://docs.oracle.com/en/industries/food-beverage/simphony/19.8/sipou/t_menu_items_age_verification.htm
title: "Age Verification Plug-in Overview"
crawled_at: 2026-05-29T14:28:37.049Z
---
# Age Verification Plug-in Overview

[Previous](t_menu_items_repeat_mi.htm) [Next](t_menu_items_check_detail_selection_plugin.htm) JavaScript must be enabled to correctly display this content

## Age Verification Plug-in Overview

The following steps provide a general overview of the age verification process on your workstation.

1.  When adding an alcoholic beverage menu item to a check, an age verification prompt displays.
    
    ![The image shows the age verification prompt with emphasis on the No and Yes buttons.](img/age_verification_prompt.png "The image shows the age verification prompt with emphasis on the No and Yes buttons.")
    
2.  If the customer meets the age requirement, click Yes. The menu item is then added to the check.
    
    Note:
    
    Any further additions of alcoholic menu items to the check in the same round will not prompt for age verification. If the check containing the alcoholic beverages is service totaled and picked up again, the age verification prompts again for the additional alcoholic beverage(s) added to that check.
    
3.  If the customer doesn’t meet the age requirements, click No.

**Parent topic:** [Menu Items](c_menu_items_add.htm)
